target/
*.local.md

# handoff-begin
.ctx/*
!.ctx/HANDOFF.*.yaml
.ctx/HANDOFF.godmode.*.yaml
.ctx/HANDOFF.*.state.json
!.ctx/handoff.*.config.toml.example
.ctx/HANDOFF.*.*.state.json
.ctx/HANDOFF.hj.hj.state.json
.ctx/.initialized
# handoff-end
.worktrees/
commands/gm-*.md
# Ignore everything in agents/ except the final .md agents
agents/*
!agents/*.md
.DS_Store
.idea/
fuzz/
.claude/settings.local.json
.DS_Store
